@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-montserrat{
    font-family: 'Poppins', sans-serif;
}
@layer base {
    @layer base {


        @layer base {
            :root {
                --background: 109 34% 98%;
                --foreground: 109 52% 1%;
                --muted: 229 8% 90%;
                --muted-foreground: 229 14% 29%;
                --popover: 109 34% 97%;
                --popover-foreground: 0 0% 0%;
                --card: 109 34% 97%;
                --card-foreground: 0 0% 0%;
                --border: 109 12% 93%;
                --input: 109 12% 93%;
                --primary: 109 100% 49%;
                --primary-foreground: 109 100% 9%;
                --secondary: 229 100% 49%;
                --secondary-foreground: 0 0% 100%;
                --accent: 349 100% 49%;
                --accent-foreground: 0 0% 100%;
                --destructive: 15 90% 20%;
                --destructive-foreground: 15 90% 80%;
                --ring: 109 100% 49%;
                --radius: 0.5rem;
            }

            .dark {
                --background: 109 58% 3%;
                --foreground: 109 28% 99%;
                --muted: 229 8% 10%;
                --muted-foreground: 229 14% 71%;
                --popover: 109 58% 4%;
                --popover-foreground: 0 0% 100%;
                --card: 109 58% 4%;
                --card-foreground: 0 0% 100%;
                --border: 109 12% 14%;
                --input: 109 12% 14%;
                --primary: 129.18 100% 45.69%;
                --primary-foreground: 109 100% 9%;
                --secondary: 54.65 100% 50%;
                --secondary-foreground: 0 0% 100%;
                --accent: 349 100% 49%;
                --accent-foreground: 0 0% 100%;
                --destructive: 15 90% 52%;
                --destructive-foreground: 0 0% 100%;
                --ring: 109 100% 49%;
            }
        }


    }
}

@layer base {
    * {
        @apply box-border p-0 m-0 border-border;
    }

    body {
        @apply dark:bg-background bg-white;
    }
}


